@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400');
.background {
    background: linear-gradient(180deg, #362922 18.23%, #442A1D 53.65%, rgba(118, 79, 49, 0.96) 99.48%);
    width: 100%;
}

#backmenu {
    background: #1A0904;
    width: 100%;
    height: 240px;
}

#backmenu .logocliente {
    display: flex;
    position: relative;
    top: 51%;
    margin-left: 126px;
}

#backmenu .imglogo {
    width: 214px;
    height: 206px;
    background: #28110A;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}

#backmenu .fa-shopping-bag {
    font-size: 90px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#backmenu h1 {
    position: relative;
    top: 42px;
    margin-left: 21px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    font-family: Montserrat;
    text-transform: uppercase;
}

#todos-conteudos {
    display: flex;
    width: 100%;
    justify-content: center;
}

#itens-pedidos {
    background: #FFFFFF;
    border-radius: 10px;
    width: 971px;
    margin: 156px 0 104px 66px;
}

#itens-pedidos h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #4B2811;
    margin: 35px 0 39px 26px;
}

#det-itens {
    width: 100%;
}

#det-itens .produto {
    display: grid;
    grid-template-columns: 50% 10% 20% 20%;
}

.produto .qtd,
.produto .pre,
.produto .to {
    justify-content: center;
    display: flex;
}

#det-itens .produto h4 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(26, 9, 4, 0.96);
}

.prd {
    display: grid;
    grid-template-columns: 50% 10% 20% 20%;
    margin-top: 27px;
    margin-bottom: 19px;
}

#itens-pedidos .prd img {
    width: 100px;
    height: 67px;
    margin-left: 33px;
}

.prds {
    display: flex;
    align-items: center;
}

.prds .nome {
    margin-left: 13px;
}

.preco,
.preco-total,
.qtd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qtd input {
    width: 40px;
    height: 30px;
}

.borda {
    width: 91%;
    margin: 16px 35px 0 34px;
    border-bottom: 2px solid #000000;
}

#itens-total {
    display: flex;
    flex-direction: column;
}

#total {
    width: 383px;
    height: 170px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 156px 56px 77px 58px;
}

#total h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(26, 9, 4, 0.96);
    margin: 35px 0 14px 17px;
}

#total .valor-itens {
    display: flex;
    justify-content: space-around;
}

#total .valor-itens h4 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(26, 9, 4, 0.96);
}

#total .valor-itens h3 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;
    line-height: 25px;
    color: #753D19;
}

#borda1 {
    width: 90%;
    margin: 14px 28px 30px 19px;
    border-bottom: 2px solid #000000;
}

#add {
    width: 374px;
    height: 94px;
    background: #6D3C1D;
    border-radius: 10px;
    border: none;
    margin: 0 56px 55px 67px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    cursor: pointer;
}

#add a {
    text-decoration: none;
    color: #FFFFFF;
}

#ava {
    width: 374px;
    height: 94px;
    background: #351503;
    border-radius: 10px;
    border: none;
    margin: 0 53px 222px 70px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    cursor: pointer;
}

.prds span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(26, 9, 4, 0.96);
}

span.preco {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(26, 9, 4, 0.96);
}

span.preco-total {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #753D19;
}

.qtd-produto {
    margin: 0 15px 0 15px;
}

.fa-minus-circle {
    color: #753D19;
}

.fa-plus-circle {
    color: #753D19;
}

.pi {
    margin-left: 31px;
}

.nenhum {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: black;
    margin-left: 26px;
}

@media (max-width: 900px) {
    #backmenu .imglogo {
        width: 120px;
        height: 109px;
    }
    #backmenu .logocliente {
        margin-left: 39px;
    }
    #backmenu .fa-shopping-bag {
        font-size: 40px;
    }
    #backmenu h1 {
        font-size: 18px;
    }
    #itens-pedidos {
        width: 351px;
        margin: 75px 0px 31px 13px;
    }
    #itens-pedidos h1 {
        font-size: 21px;
        margin: 35px 0 39px 26px;
    }
    .nenhum {
        font-size: 16px;
    }
    .prds img {
        display: none;
    }
    #todos-conteudos {
        display: block;
    }
    #total {
        width: 351px;
        margin: 0 0 37px 13px;
    }
    #ava,
    #add {
        font-weight: 500;
        font-size: 22px;
        width: 325px;
        height: 94px;
        margin: 0 12px 45px 22px;
    }
    .preco-total,
    .produto .to {
        display: none;
    }
    #det-itens .produto {
        display: grid;
        grid-template-columns: 50% 26% 20%;
    }
    .prds .nome {
        margin-left: 29px;
    }
    .prd {
        grid-template-columns: 50% 27% 21%;
    }
}