.flex {
    display: flex;
}

.background {
    background: linear-gradient(180deg, #362922 18.23%, #442A1D 53.65%, rgba(118, 79, 49, 0.96) 99.48%);
    width: 100%;
}

#backmenu {
    background: #1A0904;
    width: 100%;
    height: 240px;
}

#backmenu .logocliente {
    display: flex;
    position: relative;
    top: 51%;
    margin-left: 126px;
}

#backmenu .imglogo {
    width: 214px;
    height: 206px;
    background: #28110A;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imglogo h2 {
    color: #FFFFFF;
    font-size: 80px;
}

#backmenu h1 {
    position: relative;
    top: 42px;
    margin-left: 21px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    font-family: Montserrat;
    text-transform: uppercase;
}

#menu-pai {
    display: flex;
}

#perfil,
#pedidos,
#card,
#endereco {
    width: 409px;
    height: 86px;
    background: transparent;
    border-radius: 24px;
}

#perfil:hover,
#pedidos:hover,
#card:hover,
#endereco:hover {
    background: #28110A;
}

#perfil,
#pedidos,
#card,
#endereco {
    display: flex;
    align-items: center;
}

#menus-options {
    border-right: 3px solid #fff;
    width: 350px;
    padding: 136px 84px 0px;
    margin: 2% 0% 0.5%;
}

#menus-options a {
    text-decoration: none;
}

#perfil .fa-user,
#pedidos .fa-shopping-bag,
#card .fa-credit-card,
#endereco .fa-map-marked-alt {
    font-size: 30px;
    color: #FFFFFF;
    margin: 17px 26px 24px 45px;
}

#menus-options span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
}

#list {
    padding: 67px;
    overflow: hidden;
}

#list h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    margin-bottom: 58px;
}

.corpo {
    width: 800px;
    height: 157px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 30px 19px;
    transition: height 0.5s;
    margin-bottom: 54px;
}

.conteudo .fa-map-marked-alt {
    color: #FFFFFF;
    font-size: 100px;
    margin-left: 27px;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-conte {
    width: 400px;
    margin-left: 27px;
}

.card-conte span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
}

.info-card {
    margin-top: 37px;
}

.info-card span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.editar .fa-edit {
    color: #FFFFFF;
}

.det span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.det .fa-chevron-down,
.det .fa-chevron-up {
    padding-left: 27px;
}

.det span:last-child {
    display: none;
}

.expandir {
    height: auto !important;
    max-height: 800px;
}

.detalhes {
    display: flex;
    margin-left: 187px;
}

.mais-detalhes {
    margin-top: 27px;
    border-top: 1px solid #fff;
    display: none;
    opacity: 0;
    transition: ease-in 0.5s;
    overflow-y: scroll;
    height: auto;
    max-height: 600px;
}

.endereco-det {
    padding: 35px 5px 0px 37px;
}

.endereco-det {
    padding-bottom: 5px;
    margin-bottom: 32px;
}

.endereco-det span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.local {
    display: flex;
}

.estado {
    margin-right: 100px;
}

.cep-num {
    display: flex;
}

.cep {
    margin-right: 135px;
}

.complemento {
    margin-top: 20px;
}

.novo {
    width: 800px;
    height: 87px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 30px 19px;
    transition: height 0.5s;
    margin-bottom: 54px;
}

.novo a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.novo .fa-plus-circle {
    color: #FFFFFF;
    font-size: 22px;
    margin-right: 20px;
}