@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400');
::-webkit-scrollbar {
    width: 4px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background: #251a1a;
}

 ::-webkit-scrollbar-track-piece {
    background: #e0d3c9;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.area {
    display: flex;
}

.area nav {
    width: 40px;
    height: 100vh;
    position: fixed;
    background-color: #251a1a;
    padding: 5px;
}

.area nav i {
    color: #FFFFFF;
    font-size: 30px;
    padding: 10px 3px;
}

#menu-admin {
    display: grid;
    grid-template-rows: 8% 90% 5%;
    height: 95vh;
}

#logo img {
    width: 40px;
    height: 40px;
}

.conteudo-pai {
    height: 100vh;
    width: 97vw;
    margin: 0px 24px;
}

#logo-prod {
    margin: 28px 0 28px 35px;
}

#logo-prod .fa-box {
    color: #28110A;
    font-size: 30px;
    margin-right: 14px;
}

#logo-prod span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    color: #1A0904;
}

#borda1 {
    border-bottom: 1px solid #28110A;
    margin-bottom: 58px;
}

#total {
    height: 246px;
    background: #28110A;
    border-radius: 20px;
    margin-left: 45px;
}

#conteudo {
    display: flex;
    height: 100%;
    margin: 37px 0px 74px 0px;
}

#produtos {
    padding: 21px 100px 35px 66px;
    border-right: 1px solid #FFFFFF;
    width: 54%;
}

#produtos span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.detalhes {
    display: flex;
}

.cadastrados {
    margin: 36px 0px 65px 66px;
}

.quantidade {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 91px;
    color: #FFFFFF;
}

.descricao {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.status {
    width: 238px;
    height: 102px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 36px 0 43px 50px;
    padding: 16px 0 17px 35px;
    display: flex;
}

.status .ativo {
    margin-right: 34px;
}

.status .qtd {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
}

.status .sts {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

#categorias {
    padding: 21px 0px 35px 66px;
}

#categorias span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

#listagem {
    margin: 74px 18px 0 45px;
    padding-bottom: 10px;
    border-bottom: 2px solid #1A0904;
}

#listagem span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #1A0904;
}

#add-produtos {
    width: 300px;
    height: 25px;
    border: 1px solid #28110A;
    margin: 30px 0 15px 45px;
    border-radius: 5px;
}

#add-produtos .fa-plus-square {
    padding: 4px 12px 9px 14px;
}

#add-produtos a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #1A0904;
    text-decoration: none;
}

#tabela-titulo {
    background: #442A1D;
    height: 73px;
    display: grid;
    grid-template-columns: 10% 25% 17% 17% 10% 10%;
    align-items: center;
    margin: 30px 18px 0 45px;
    padding-left: 30px;
}

#tabela-titulo span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#tabela-produtos {
    background: #FFFFFF;
    height: 73px;
    display: grid;
    grid-template-columns: 10% 25% 17% 17% 10% 10% 0%;
    align-items: center;
    margin: 0 18px 0 45px;
    padding-left: 30px;
}

#tabela-produtos p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #28110A;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cardapio {
    background: #351503;
    border-radius: 5px;
    margin: 30px 0 15px 45px;
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardapio a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}